{% extends "base_generic.html" %}

{% block content %}
<!-- <h1>Local Library Home</h1>
  <p>Welcome to LocalLibrary, a website developed by <em>Mozilla Developer Network</em>!</p>
  <h2>Dynamic content</h2>
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
  </ul> -->

<br />
Upload documents:
<br /><br />
<!-- Upload form. Note enctype attribute! -->
<ul>

  <button id="showFileFormButton" class="btn btn-dark" onclick="showFileForm()">File</button>
  &nbsp;&nbsp;or&nbsp;&nbsp;
  <button id="showYouTubeFormButton" class="btn btn-outline-dark" onclick="showYouTubeForm()">YouTube link</button>

  <form action="{% url 'index' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ message }}

    <p>{{ form.non_field_errors }}</p>

    <div style="display: block;" id="fileform" class="form-group">
      {{ form.docfile.errors }}
      <div class="form-group col-md custom-file">
        <input type="file" class="custom-file-input" name="docfile" multiple="" id="id_docfile">
        <label class="custom-file-label" for="id_docfile">Choose or drag files</label>
      </div>
    </div>

    <div style="display: none;" id="youtubeform" class="form-row">
      <div class="form-group col">
        <input class="form-control" type="url" placeholder="YouTube link" name="youtubelink" id="id_youtubelink">
      </div>
    </div>

    <div class="form-row">

      <div class="form-group col-md">
        {{ form.title.errors }}
        <input class="form-control" type="text" name="title" maxlength="100" placeholder="Title" id="id_title">
      </div>

      <div class="form-group col-auto">
        <input class="btn btn-outline-dark" name="file_upload" type="submit" value="Upload" />
      </div>

    </div>

  </form>
</ul>
<!-- List of uploaded documents -->
{% if documents %}
All documents in the database:
<br /><br />
<ul>
  <!-- { for document in documents %}
  <li>
    <form action="" method="POST">
      {% csrf_token %}
      <input name="doc_pk" type="hidden" value="{{ document.id }}" />
      <input class="btn btn-outline-dark" name="doc_delete" type="submit" value="Delete" />
      <input class="btn btn-outline-dark" name="doc_download" type="submit" value="Download" />
      <a href="{{ document.downloadlink }}">{{ document.docfile.name }}</a> {{ document.title }} {{ document.viewcount
      }} {{ document.viewtime }}
    </form>
  </li> -->

  <table class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Document</th>
        <th scope="col">Title</th>
        <th scope="col">View Time</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="table-striped">
      {% for document in documents %}
      <tr>
        <td>{{ document.id }}</td>
        <td>
          {% if document.youtubelink == '' %}
            {{ document.docname }}
          {% else %}
            {{ document.youtubelink }}
          {% endif %}
        </td>
        <td>{{ document.title }}</td>
        <td>{{ document.pretty_viewtime }}</td>
        {% if document.youtubelink == '' %}
          <td>
            <form action="" method="POST">
              {% csrf_token %}
              <input name="doc_pk" type="hidden" value="{{ document.id }}" />
              <input class="btn btn-outline-dark" name="doc_delete" type="submit" value="Delete" />
            </form>
          </td>
          <td>
            <form action="" method="POST">
              {% csrf_token %}
              <input name="doc_pk" type="hidden" value="{{ document.id }}" />
              <input class="btn btn-outline-dark" name="doc_download" type="submit" value="Download" />
            </form>
          </td>
        {% else %}
          <td>
            <form action="" method="POST">
              {% csrf_token %}
              <input name="doc_pk" type="hidden" value="{{ document.id }}" />
              <input class="btn btn-outline-dark" name="link_delete" type="submit" value="Delete" />
            </form>
          </td>
          <td></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</ul>
{% else %}
<p>No documents.</p>
{% endif %}

<script>
  document.querySelector('.custom-file-input').addEventListener('change', function (e) {
    var fileslength = document.getElementById("id_docfile").files.length
    if (fileslength == 1) {
      var fileName = document.getElementById("id_docfile").files[0].name;
    } else {
      var fileName = fileslength + " files selected"
    }
    var nextSibling = e.target.nextElementSibling
    nextSibling.innerText = fileName
  })

  function showYouTubeForm() {
    var fileform = document.getElementById("fileform");
    var youtubeform = document.getElementById("youtubeform");
    var fileinput = document.getElementById("id_docfile");
    var showFileFormButton = document.getElementById("showFileFormButton");
    var showYouTubeFormButton = document.getElementById("showYouTubeFormButton");
    fileform.style.display = "none";
    youtubeform.style.display = "block";
    fileinput.value = '';
    showFileFormButton.classList = "btn btn-outline-dark";
    showYouTubeFormButton.classList = "btn btn-dark";
  }
  function showFileForm() {
    var fileform = document.getElementById("fileform");
    var youtubeform = document.getElementById("youtubeform");
    var ytinput = document.getElementById("id_youtubelink");
    var showFileFormButton = document.getElementById("showFileFormButton");
    var showYouTubeFormButton = document.getElementById("showYouTubeFormButton");
    fileform.style.display = "block";
    youtubeform.style.display = "none";
    ytinput.value = '';
    showFileFormButton.classList = "btn btn-dark";
    showYouTubeFormButton.classList = "btn btn-outline-dark";
  }

</script>

{% endblock %}