{% extends "base_generic.html" %}

{% block content %}
<!-- <h1>Local Library Home</h1>
  <p>Welcome to LocalLibrary, a website developed by <em>Mozilla Developer Network</em>!</p>
  <h2>Dynamic content</h2>
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
  </ul> -->

<!-- Upload form. Note enctype attribute! -->
<form action="{% url 'index' %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{ message }}
  <p>{{ form.non_field_errors }}</p>

  <p>{{ form.title.label_tag }}</p>
  <p>
    {{ form.title.errors }}
    {{ form.title }}
  </p>
  <p>{{ form.docfile.label_tag }}</p>
  
  <p>
    <!-- {{ form.docfile.errors }}
    {{ form.docfile }} -->

    <div class="custom-file">
      <input type="file" class="custom-file-input" name="docfile" multiple="" required="" id="id_docfile">
      <label class="custom-file-label" for="id_docfile">Choose files</label>
    </div>
  </p>

  <p><input class="btn btn-outline-dark" name="file_upload" type="submit" value="Upload" /></p>
</form>

<!-- List of uploaded documents -->
{% if documents %}
All documents in the database:
<ul>
  {% for document in documents %}
  <li>
    <form action="" method="POST">
      {% csrf_token %}
      <input name="doc_pk" type="hidden" value="{{ document.id }}" />
      <input class="btn btn-outline-dark" name="doc_delete" type="submit" value="Delete" />
      <input class="btn btn-outline-dark" name="doc_download" type="submit" value="Download" />
      <a href="{{ document.downloadlink }}">{{ document.docfile.name }}</a> {{ document.title }}
    </form>
  </li>

  {% endfor %}
</ul>
{% else %}
<p>No documents.</p>
{% endif %}

<script>
  document.querySelector('.custom-file-input').addEventListener('change',function(e){
    var fileslength = document.getElementById("id_docfile").files.length
    if (fileslength == 1) {
      var fileName = document.getElementById("id_docfile").files[0].name;
    } else {
      var fileName = fileslength + " files selected"
    }
    var nextSibling = e.target.nextElementSibling
    nextSibling.innerText = fileName
  })
</script>

{% endblock %}